aside{
  background-color: var(--surface-secondary);
  padding: 4rem;

  & .aside-container{
    max-width: 31rem;

    & > img {
      margin-top: 2rem;
    }
  }

  & h2{
    font: 600 2.5rem/1.25 var(--font-poppins);
    margin-bottom: .5rem;
    & span{
      color: var(--text-highlight);
    }
  }
}